# dependencies
node_modules/

# expo
.expo/
dist/
web-build/
ios/
android/
*.orig.*
expo-env.d.ts

# native builds
*.jks
*.p8
*.p12
*.key
*.mobileprovision
play-service-account.json

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# os
.DS_Store
Thumbs.db

# editors
.vscode/
.idea/
*.swp
